:root{
	//grip gap
	--gap: 0.5rem;
	//text
	--fz-sm: 1rem;
	--fz-md: 1.5rem;
	--fz-lg: 2rem;
	//colors
	--c-white:  rgba(255, 255, 255, 1);
	--c-pink:   rgba(255, 132, 184, 1);
	--c-red:    rgba(200, 57, 76, 1);
	--c-yellow: rgba(230, 194, 76, 1);
	--c-antique:rgba(160, 87, 149, 1);
	--c-green:  rgba(68, 161, 106, 1);
	--c-violet: rgba(67, 77, 175, 1);
	--c-black:  rgba(16, 16, 16, 1);
}
/* Coolors Exported Palette - coolors.co/c8394c-e6c24c-a05795-44a16a-434daf */

/* RGB */
$c-white:   rgba(255, 255, 255, 1);
$c-pink:   rgba(255, 132, 184, 1);
$c-red:    rgba(200, 57, 76, 1);
$c-yellow: rgba(230, 194, 76, 1);
$c-antique:rgba(160, 87, 149, 1);
$c-green:  rgba(68, 161, 106, 1);
$c-violet: rgba(67, 77, 175, 1);
$c-black:  rgba(16, 16, 16, 1);
